.form__contacts {
    margin-top: 48px;
    display: flex;
    border: none;
}

.contacts__title {
    margin: 0 auto 78px;
    font-size: 21px;
    font-weight: 700;
    text-transform: uppercase;
}
