.site-description {
    margin-top: 45px;
}

.site-description__title {
    text-align: center;
    font-size: 21px;
    text-transform: uppercase;
}

.site-description__subtitle {
    margin-top: 35px;
    padding-bottom: 55px;
    text-align: center;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;

}

.call-to-action {
    padding-top: 55px;
    padding-bottom: 55px;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; /* сразу блоку задам выравнивание текста по центру,не буду делать доп контейнера и его выравнивать, флекс вроде справляется с этим, просто всё по центру и max-width */
}

.call-to-action__title {
    padding-bottom: 30px;
    font-size: 30px;
    text-transform: uppercase;
}

.call-to-action__description {
    padding-bottom: 45px;
    font-size: 14px;
    color: #333333;
    text-transform: uppercase;
}

.to-search-hotel {
    padding: 15px 135px;
    text-transform: uppercase;
    background-color: #81b3d2;
    color: #fff;
    font-size: 21px;
    font-weight: 700;
}

.map {
    position: relative;
}

.map__img {
    width: 100%;
}

.map__marker {
    position: absolute;
    top: 48%;
    right: 49%;
}
